h3.page_header {
    color: black;
    text-align: center;
	font-weight:bold; 
	font-family: "Times New Roman", Georgia, Serif;
}

p.page_text {
    color: black; 
	font-family: "Times New Roman", Georgia, Serif;
	word-wrap: normal;
}

.header{
	color: black; 
	font-weight:bold;
	font-family: "Times New Roman", Georgia, Serif;
}
.faculty{
	color: black; 
	font-weight:bold;
	text-align: left;
	font-family: "Times New Roman", Georgia, Serif;
}
